In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
cruise = pd.read_csv('cruise_ship_info.csv')

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Selecting the features and target variable
features = cruise[['Age', 'TonnageGTx1000', 'passengersx100', 'lengthx100ft', 'cabinsx100', 'spaceratio']]
target = cruise['crewx100']

# Standardizing the features
scaler = StandardScaler()
features_standardized = scaler.fit_transform(features)

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features_standardized, target, test_size=0.3, random_state=0)

# Checking the shape of the training and testing sets
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((110, 6), (48, 6), (110,), (48,))

In [9]:
features_standardized = pd.DataFrame(features_standardized)
features_standardized

            0         1         2         3         4         5
0   -1.276402 -1.104984 -1.193956 -1.225331 -1.184588  0.318057
1   -1.276402 -1.104984 -1.193956 -1.225331 -1.184588  0.318057
2    1.358105 -0.647310 -0.372926 -0.509363 -0.314095 -0.940676
3   -0.617775  1.043215  1.169614  0.782736  1.357341 -0.338017
4    0.172577  0.810215  0.825445  0.441533  0.982670 -0.178934
..        ...       ...       ...       ...       ...       ...
153  0.831204 -1.830796 -1.844975 -2.987284 -1.907008  1.244688
154 -0.222599  0.148615  0.118448  0.368817  0.188457 -0.083716
155  1.226380 -1.776662 -1.749603 -2.086730 -1.815023 -0.701471
156  1.489831 -1.776662 -1.740273 -2.086730 -1.815023 -0.912808
157  0.962929 -1.523507 -1.594104 -1.096680 -1.631052  0.925360

[158 rows x 6 columns]

In [10]:
target

0       3.55
1       3.55
2       6.70
3      19.10
4      10.00
       ...
153     0.59
154    12.00
155     0.88
156     0.88
157     1.80
Name: crewx100, Length: 158, dtype: float64

In [7]:
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score

# Create a LASSO regression model with alpha = 0.01
lasso_model = Lasso(alpha=0.01)

# Train the model
lasso_model.fit(X_train, y_train)

# Predictions on training and test sets
y_train_pred_lasso = lasso_model.predict(X_train)
y_test_pred_lasso = lasso_model.predict(X_test)

# R2 scores for training and test sets using LASSO Regression
r2_train_lasso = r2_score(y_train, y_train_pred_lasso)
r2_test_lasso = r2_score(y_test, y_test_pred_lasso)

r2_train_lasso, r2_test_lasso

(0.910947756056873, 0.9567576421666848)

In [ ]:
X_train